div{
    text-align: center;
}

h3{
    color: #54E9DA;
    font-size: 35px;
    font-weight: bold;
    font-family: Nirmala UI;
}

p{
    font-weight: normal;
    font-size: 17px;
    font-family: Nirmala UI;
}

#informacao p{
    font-weight: bold;
}

#informacao-conteudo p{
    border: 1px solid black;
    border-radius: 5px;
}

#btn-comparar{
    color: white;
    font-weight: bold;
    background-color: #54E9DA;
}

