#banner {
    background-image: url('../Imagens/ruido.png'),
        url('../Imagens/fundo-principal.png');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: auto;
    height: 100vh;
    overflow: hidden;
}

#footer {
    margin-top: -70px;
    text-align: center;
    background-color: #919191;
    padding: 10px;
    height: 70px;
    color: white;
    font-size: 15px;
    font-weight: bold;
}

#footer img {
    padding-right: 50px;
}

#footer p {
    margin: 0;
}


#botaoentrar {
    font-size: bold;
    margin-top: 10px;
    border-radius: 8px;
    border: 0.5px solid rgba(0, 0, 0, 0.544);
    padding: 8px;
}

#formulariologin {
    margin-bottom: 10px;
    background-color: rgba(20, 20, 233, 0.605);
    border-radius: 25px;
    padding: 25px;
}

#links {
    padding: 5px;
    border-radius: 10px;
    background-color: #00000026;
    color: rgb(46, 46, 46);
    font-style: italic;
}

#links:hover {
    background-color: rgba(41, 41, 255, 0.38);
}

#inputbox {
    color: white;
    border: 1px solid black;
    background-color: rgba(0, 0, 0, 0.584);
}

.msg {
    background-color: rgba(255, 0, 0, 0.51);
}

#imagemcomdesvio {
    margin-left: -70px;
}

@media screen and (max-width: 1200px) {
    #banner h1 {
        font-size: 80px !important;
    }

    #banner p {
        font-size: 40px !important;
    }
}

@media screen and (max-width: 991px) {
    #footer img {
        padding-right: 0px !important;
    }
}

@media screen and (max-width: 768px) {
    #banner h1 {
        font-size: 70px !important;
    }

    #banner p {
        font-size: 40px !important;
    }
}

@media screen and (max-width: 522px) {
    #banner h1 {
        font-size: 45px !important;
    }

    #banner p {
        font-size: 20px !important;
    }

    #banner a {
        font-size: 20px;
    }
}