p{
    text-align: left;
    text-justify: auto;
}
body{
    width: 90vw;
    height: 4000px;
    background-color: azure;
}
header{
    background-color: aqua;
}
h1 {
    background-color: brown;
    color: white;
    width: 100%;
    padding: 2px;
    text-align: center;
}